@import '../../../styles.scss';

.container {
    width: 100vw;
    height: 100vh;
}

.textInput{
    text-align: center;
    margin: 1rem 0px;
}

.box{
    color: #141414;
    margin: auto;
    border-radius: 1rem;
    background-color: rgb(228, 228, 228);
    width: 90%;
    max-width: 30rem;
    height: 40rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: $max-sm) {
    .textInput {
      font-size: 1.5rem;
    }
}